<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.team_f.calender.CalenderMapper">
    <select id="getMonthRecordByUser">
        SELECT created_at createdAt
        FROM calender
        WHERE iuser = #{iuser} AND DATE_format(created_at,"%Y%m") = #{yearMonth}
        ORDER BY created_at
    </select>

</mapper>
