<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.team_f.exrec.ExRecMapper">
    <select id="selEx">
        select h_kcal hKcal
        from health_category
        where ihel_cate = #{ihelCate}
    </select>
    <select id="selExName">
        select hel_name helName
        from health_category
        where ihel_cate = #{ihelCate}
    </select>
    <insert id="InsExRec">
        INSERT INTO user_health_record
        SET ihel_cate = #{ihelCate}
        , ical = #{ical}
        , uh_kcal=#{uhKcal}
        , ctnt=#{ctnt}
        , time = #{time}
        , uh_pic=#{uhPic}
    </insert>

    <update id="upCalenderByHelRec">
        UPDATE calender
        SET totalhel_kcal = (totalhel_kcal + #{uhKcal})
        , ex_kcal = (ex_kcal - #{uhKcal})
        , created_at = #{recDate}
        where ical = #{ical} and iuser = #{iuser}
    </update>

    <select id="getHelCateList">
        select hel_name helName, h_Kcal hKcal, ihel_cate ihelCate
        from health_category
    </select>
</mapper>