<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.team_f.list.ListMapper">
    <select id="selMealList">
        SELECT B.imeal_record imealRecord, C.food_name foodName,B.uef_time uefTime,B.uef_kcal uefKcal
        ,B.ctnt ctntF,B.uef_pic uefPic
        FROM calender A
        INNER JOIN user_meal_record B
        ON A.ical = B.ical
        INNER JOIN food_category C
        ON B.ifood = C.ifood
        WHERE A.created_at = 20230601 and iuser = 1
        ORDER BY B.created_at,field(B.uef_time,'아침','점심','저녁');
    </select>

    <select id="selHelList">
        SELECT B.ihel_record ihelRecord, B.uh_kcal uhKcal, B.ctnt
                , B.uh_pic uhPic, B.time time, C.hel_name helName, A.created_at createdAt
        FROM calender A
        INNER JOIN user_health_record B
        ON A.ical = B.ical
        INNER JOIN health_category C
        ON B.Ihel_cate = C.Ihel_cate
        WHERE A.created_at = #{date} and iuser = #{iuser}
        ORDER BY B.ihel_record
    </select>

    <delete id="delMealList">
        DELETE
        from user_meal_record
        WHERE imeal_record = #{imealRecord};
    </delete>

    <delete id="delHelList">
        DELETE
        from user_health_record
        WHERE ihel_record = #{ihelRecord};
    </delete>


    <insert id="InsCalenderDataForRec" useGeneratedKeys="true" keyProperty="ical">
        <selectKey keyProperty="ical" order="AFTER" resultType="InsCalenderDto">
            SELECT ical FROM calender WHERE iuser = #{iuser} AND created_at = #{recDate}
        </selectKey>
        INSERT INTO calender
        (iuser, created_at, ex_kcal)
        SELECT #{iuser}, #{recDate}, -#{bmr}
        FROM DUAL
        WHERE NOT EXISTS (
        SELECT created_at
        FROM calender
        WHERE iuser = #{iuser} AND created_at = #{recDate}
        )
    </insert>

    <select id="getIuserBmr">
        select bmr
        from user
        where iuser = #{iuser}
    </select>

</mapper>