<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.team_f.user.UserMapper">
    
    <insert id="insUser">
        insert into user
        (uid, upw, name, age, height, weight, gender, bmr)
        values
        (#{uid}, #{upw}, #{name}, #{age}, #{height}, #{weight}, #{gender}, #{bmr})
    </insert>

    <update id="updUserPic">
        update user
        set usepic = #{usepic}
        where iuser = #{iuser}
    </update>

    <select id="selUser" resultType="UserSelDto">
        select uid, name, age, height, weight, gender, usepic, bmr
        from user
        where iuser = #{iuser}
    </select>

    <delete id="delUser">
        delete from user
        where iuser = #{iuser}
    </delete>

    <update id="updUserGoal">
        update user
        set goal = #{goal}
        where iuser = #{iuser}
    </update>

    <select id="selUserGoal" resultType="UserPatchGoalVo">
        select iuser, goal
        from user
        where iuser = #{iuser}
    </select>

</mapper>